.time-cards {
  margin: auto;
  padding-top: 80px;
  width: 550px;

  .time-card {
    margin: 24px;

    button {
      margin: 0 auto;
    }
  }
}

.QR {
  margin: auto;
  padding-top: 20px;
  padding-left: 125px;
}