.info {
  padding: 100px 100px 20px 100px;

  @media (max-width: 768px) {
    padding: 100px 10px 20px 10px;
  }

  .desc {
    margin-top: 15px;
    font-size: 18px;
    padding: 4px;
  }

  .panels {
    padding-top: 20px;

    b { font-weight: 500; }
  }
}
